.home {
  width: 100%;
}
.countriesSection {
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .countriesContainer {
    .countryCard {
      background-color: white;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 30px 20px;
      border: 1px solid gray;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      // display: flex;
      // align-items: center;

      img {
        margin: auto;
        width: 50%;
        min-width: 300px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
      @media (max-width: 700px) {
        flex-direction: column;
      }
      .data {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .contentContainer {
        width: 100%;
        text-align: start;
        ul {
          list-style: disc;
          padding: 10;
        }
        ol {
          list-style: decimal;
          padding: 10;
        }
      }
      .icon {
        padding: 20px;
        width: fit-content;
        margin: 10px auto;
        svg {
          font-size: 80px;
          color: #2b82c9;
        }
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        display: flex;
        gap: 20px;
        justify-content: center;
      }
      p {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        display: flex;
        gap: 20px;
        justify-content: center;
      }
    }
  }
}
